@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.text-xxs {
  font-size: 0.9rem; /* or any smaller size */
}

/* Receipt.css */
.swoop-enter {
  opacity: 0;
  transform: translateX(20px);
}
.swoop-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.swoop-exit {
  opacity: 1;
  transform: translateX(0);
}
.swoop-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 200ms, transform 200ms;
}

